<p>$ git clone git@github.com:liliaouldhocine/revision.git</p>
<p>cd revision/</p>
<p>$ git checkout -b clara </p>
<p>git add .</p>
<p>git commit -m "test"</p>
<p>$ git push origin clara</p>
<p>$ git merge origin/lilia</p>
<p>$ git pull origin lilia</p>
<p></p>
<p></p>