doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Révision
    body 
        div 
            h1 Révision pour le cours préféré de toute la formation !
            ul 
                li 
                    a(href="/adil") Adil 
                li 
                    a(href="/clara") Clara 
                li 
                    a(href="/david") David
                li 
                    a(href="/kevinf") Kevin F
                li 
                    a(href="/kevinm") Kevin M
                li 
                    a(href="/maryam") Maryam
                li 
                    a(href="/matheus") Matheus
                li 
                    a(href="/tiago") Tiago
                li 
                    a(href="/yasmin") Yasmin 
                li 
                    a(href="/") Home



