p git clone https://github.com/liliaouldhocine/revision.git . 
p git branch kevinm 
p git checkout kevin m 
p git add . 
p git commit -m "rhks"
p git push origin kevinm 
p git pull origin lilia 
p git checkout lilia 
p git add . 
p git commit "fasfdas"
p git push origin lilia 
