p git clone git@github.com:liliaouldhocine/revision.git  
p git chechout -b maryam 
p git add  .
p git commit -am "Mon premier commit"
p git checkout master
p git merge maryam
p git pull origin master 
p git push origin master