<p> git clone https://github.com/liliaouldhocine/revision.git .</p>
<p> git checkout -b "matheus"</p>
<p> git add .</p>
<p> git commit -m "ajouter un index.html"</p>
<p> git push origin matheus</p>
<p>git merge origin lilia</p>
<p> git pull origin lilia</p>
