<p> git clone https://github.com/liliaouldhocine/revision.git .</p> 
<p> git checkout -b BrancheYasmin</p> 
<p> git status</p> 
<p> git add .</p> 
<p> git  commit -m "commit yasmin"</p> 
<p> git push origin BrancheYasmin</p> 
<p> git pull origin</p> 
<p> git merge origin/lilia</p> 
<p> git pull origin lilia</p> 


